/**
 * TCB style: Created by Cid
 
menulink wtt menu1

 green: 99C C00
 green: 515 759
123
 */

body {
   background-color:#000;
}


/*this overwrite tagit.ui-sendesk.css:53*/
.ui-widget{font-size:0.9em;} 
ul.tagit li.tagit-choice {
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-border-radius: 6px;
border: 1px solid #CAD8F3;
background: none;
background-color: #FFF;
font-weight: normal;
color: red;
}
ul.tagit input[type="text"] {
color: #515759;
background: none;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
line-height: 10px;
}



a:hover, a:focus {
color: #CCC;
text-decoration: none;
}

a:link {
    color: #515759;
}

.tcb-color{color:#515759;}

.bg-dev{background-color:#8FC637;}
.bg-des{background-color:#48D837;}
.bg-dat{background-color:#23C12F;}
.bg-pro{background-color:#55B592;}
.bg-fin{background-color:#95AC37;}

.panel-tcb{background-color:#515759; color:black; padding:5px;}


.tcb-accordion{background-color:#515759; color:#000;}

.nametag{padding:15px; color:#666;}


  .blackbg {
  	background-color:#000;
  }
  .basetxt{
  color:#515759;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;  
  }

   .basetxt2{
  color:#000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  padding:0 20px; 
  }

      .contactme{
  background-color:#515759;
  font-size:1em;
  color:black;
  padding:5px 10px;
  
  }
  
  .menu1{
  background-color:#515759;
  font-size:0.7em;
  color:black;
  padding:5px 10px;

  }
  
  
  .fhr{ display: block; height: 1px;
    border: 0; border-top: 1px solid #515759;
    margin: 1em 0; padding: 0; }
    
   .fhr2{ display: block; height: 1px;
    border: 0; border-top: 1px solid #515759;
    margin: 0.3em 0; padding: 0; }

       .fhr3{ display: block; height: 1px;
    border: 0; border-top: 1px solid #4D4D4D;
    margin: 2em 0; padding: 0; }
  
  .inmessage{background-color:#669900;}
  
 
    .blacktxt{
  color:#000; 
  }
    .redtxt{
  color:#515759; 
  }
  
      .darkgreen{
  color:#669900; 
  }
  
      .bluetxt{
  color:#60d9f1; 
  }
      .yellowtxt{
  color:#e6dc6d; 
  }
      .purpletxt{
  color:#af7dff; 
  }
      .grenntxt{
  color:#a4e402; 
  }
  
        .whitetxt{
  color:#FFF; 
  }
  
     .graytxt1{
  color:#DDD; 
  }
  
     .graytxt2{
  color:#999; 
  }
  
  

.redlink:link {color:#515759; text-decoration: none !important;}      /* unvisited link */
.redlink:visited {color:#CCC; text-decoration: none !important;}  /* visited link */
.redlink:hover {color:#FFF; text-decoration: none !important;}  /* mouse over link */
.redlink:active {color:#515759; text-decoration: none !important;}

.menulink:link {color:#000; text-decoration: none !important;}      /* unvisited link */
.menulink:visited {color:#000; text-decoration: none !important;}  /* visited link */
.menulink:hover {color:#FFF; text-decoration: none !important;}  /* mouse over link */
.menulink:active {color:#000; text-decoration: none !important;}


.wtt + .tooltip > .tooltip-inner {background-color: #FFF; color:#669900;}

.txtsmall {font-size: 1em;}
.txtsmaller {font-size: 0.8em;}
.txtlook {font-size: 0.7em; font-style: italic;}
.txttitle {font-size: 3em; line-height:0.8em;}




