/**
 * TCB style: Created by Cid
 
menulink wtt menu1

 green: 99C C00
 green: 515 759
123
 */

body {
   background-color:#000;
}



/*this overwrite tagit.ui-sendesk.css:53*/
.ui-widget{font-size:0.9em;} 
ul.tagit li.tagit-choice {
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-border-radius: 6px;
border: 1px solid #CAD8F3;
background: none;
background-color: #FFF;
font-weight: normal;
color: red;
}
ul.tagit input[type="text"] {
color: #99CC00;
background: none;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
line-height: 10px;
}



a:hover, a:focus {
color: #FFF;
text-decoration: none;
}

a:link {
    color: #99CC00;
}

a:visited
{ 
color: #CCC;
}


.endicon{padding:5px; color:#99CC00;}

.bg-dev{background-color:#8FC637;}
.bg-des{background-color:#48D837;}
.bg-dat{background-color:#23C12F;}
.bg-pro{background-color:#55B592;}
.bg-fin{background-color:#95AC37;}

.text-dev{color:#8FC637;}
.text-des{color:#48D837;}
.text-dat{color:#23C12F;}
.text-pro{color:#55B592;}
.text-fin{color:#95AC37;}


.panel-tcb{background-color:#99CC00; color:black; padding:5px;}


.tcb-accordion{background-color:#99CC00; color:#000;}

.nametag{padding:15px; color:#666;}


  .blackbg {
  	background-color:#000;
  }
  .basetxt{
  color:#99CC00;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;  
  }

   .basetxt2{
  color:#000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  padding:0 20px; 
  }

      .contactme{
  background-color:#99CC00;
  font-size:1em;
  color:black;
  padding:5px 10px;
  
  }
  
  .menu1{
  background-color:#99CC00;
  font-size:0.7em;
  color:black;
  padding:5px 10px;

  }
  
  
  .fhr{ display: block; height: 1px;
    border: 0; border-top: 1px solid #99CC00;
    margin: 1em 0; padding: 0; }
    
   .fhr2{ display: block; height: 1px;
    border: 0; border-top: 1px solid #99CC00;
    margin: 0.3em 0; padding: 0; }

       .fhr3{ display: block; height: 1px;
    border: 0; border-top: 1px solid #4D4D4D;
    margin: 5em 0; padding: 0; }
  
  .inmessage{background-color:#669900;}
  

  .tcb-color{color:#99CC00;}
 
    .blacktxt{
  color:#000; 
  }
    .redtxt{
  color:#99CC00; 
  }
  
      .darkgreen{
  color:#669900; 
  }
  
      .bluetxt{
  color:#60d9f1; 
  }
      .yellowtxt{
  color:#e6dc6d; 
  }
      .purpletxt{
  color:#af7dff; 
  }
      .grenntxt{
  color:#a4e402; 
  }
  
        .whitetxt{
  color:#FFF; 
  }
  
     .graytxt1{
  color:#DDD; 
  }
  
     .graytxt2{
  color:#999; 
  }

       .graytxt3{
  color:#303030; 
  }
  
  

.redlink:link {color:#99CC00; text-decoration: none !important;}      /* unvisited link */
.redlink:visited {color:#487237; text-decoration: none !important;}  /* visited link */
.redlink:hover {color:#FFF; text-decoration: none !important;}  /* mouse over link */
.redlink:active {color:#99CC00; text-decoration: none !important;}

.menulink:link {color:#000; text-decoration: none !important;}      /* unvisited link */
.menulink:visited {color:#000; text-decoration: none !important;}  /* visited link */
.menulink:hover {color:#FFF; text-decoration: none !important;}  /* mouse over link */
.menulink:active {color:#000; text-decoration: none !important;}


.wtt + .tooltip > .tooltip-inner {background-color: #FFF; color:#669900;}

.txtsmall {font-size: 1em;}
.txtsmaller {font-size: 0.9em;}
.txtlook {font-size: 0.7em; font-style: italic;}
.txttitle {font-size: 3em; line-height:0.8em;}


.text-small {font-size: 1em;}
.text-smaller {font-size: 0.9em;}
.text-mini {font-size: 0.7em; font-style: italic;}
.text-title {font-size: 3em; line-height:0.8em;}

.text-white {color:#FFF;}
.text-gray {color:#666;}
.text-lgray {color:#CCC;}


/*SPACING*/

.spa200{padding:200px 0;}
.spa100{padding:100px 0;}
.spa90{padding:90px 0;}
.spa80{padding:80px 0;}
.spa70{padding:70px 0;}
.spa60{padding:60px 0;}
.spa50{padding:50px 0;}
.spa40{padding:40px 0;}
.spa30{padding:30px 0;}
.spa20{padding:20px 0;}
.spa10{padding:10px 0;}
.spa5{padding:5px 0;}


@media(max-width:550px){  /*extended*/

.spa200{padding:100px 0;}
.spa100{padding:50px 0;}
.spa90{padding:45px 0;}
.spa80{padding:40px 0;}
.spa70{padding:35px 0;}
.spa60{padding:30px 0;}
.spa50{padding:25px 0;}
.spa40{padding:20px 0;}
.spa30{padding:15px 0;}
.spa20{padding:10px 0;}
.spa10{padding:5px 0;}
.spa5{padding:3px 0;}

}

/*CSS SWITCH*/


    .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
    display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #99CC00; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    }
    .onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }


